@charset "UTF-8";
* {
    box-sizing: border-box;
}

body {
    background: #eee;
}

.contenedor {
    width: 600px;
    margin: 30px auto;
    background: #fff;
    padding-top: 20px;
}

.contenedor:hover{
    box-shadow: 0 0 10px 2px gray;
}

.botones {
    display: flex;
    justify-content: space-around;
}

button {
    width: 100px;
    line-height: 2em;
    margin-bottom: 20px;
}

.fichas {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.fichas>div{
    border: 1px solid black;
    font-weight: bold;
    height: 100px;
    color: gray;
    font-size: 50px;
    flex: 1 1 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ficha {
    border-radius: 100%;
    border: 2px solid #056;
    background: #089;
    width: 50px;
    height: 50px;
    top: 25px;
    left: 25px;
    position: absolute;
}

#tabla {
    display: table;
    border-collapse: collapse;
    margin: 0 auto;
}

#tabla>div {
    display: table-row;
    height: 100px;
}

#tabla>div>div {
    display: table-cell;
    width: 100px;
    background: #fff;
    border: 1px solid black;
    font-weight: bold;
    height: 100px;
    color: gray;
    font-size: 50px;
    position: relative;
}

#mensaje{
    text-align:center;
    font-size: 30px;
    line-height: 2em;
}
