.dado {
	width: 100px;
	height:100px;
	margin: 10px 0 0 0;
}

.numero {
	width: 90px;
	height:90px;
	margin: 10px 0;
	float: left;
	background-color: whitesmoke;
	color: grey;
	font-size: 80px;
	text-align: center;
	border: 1px solid black; 
	z-index: 10;
}
.jugada {
	float: left;
	margin: 10px;
	width: 750px;
	height: 200px;
}
.container {
  width: 750px;
  margin: 20px auto;
}
.boton {
	
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid rgba(16,216,2,1);
  -webkit-border-radius: 9px;
  border-radius: 9px;
  font: italic normal normal 20px/normal Tahoma, Geneva, sans-serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  word-spacing: 2px;
  background: #10d802;
  -webkit-box-shadow: 4px 4px 6px 1px rgba(0,0,0,0.4) , 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 4px 4px 6px 1px rgba(0,0,0,0.4) , 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
