body {
    padding-top: 70px;
}

h1 {
    color: #fff;
}

.jumbotron {
    background: url(http://www.palmtreesdirectinc.com/images/PalmTrees.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    height: 500px;
    padding: 50px;
    margin: 0;
}

.btn-primary {
    background-color: red !important;
}
footer {
    background: #000;
    padding: 0;
    margin: 0;
    height: 100px;
    color: #fff;
    text-align: center;
}
